html {
  font-family: helvetica;
  background-color: #f5f2e8;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style-type: none;
}

button {
  cursor: pointer;
}

.star {
  height: 25px;
  margin-left: 3px;
}
