.show-chz-box {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
  #chz-name {
    padding-bottom: 15px;
    color: #c60;
    font-size: 22px;
    margin-bottom: 3px;
  }
  #chz-brand {
    color: #c60;
    font-size: 14px;
    margin-bottom: 5px;
  }
  #chz-type {
    display: flex;
    color: #474747;
    font-size: 14px;
    margin-bottom: 5px;
  }
}

.edit-chz-button {
  font-family: helvetica;
  border: 2px solid #c60;
  border-radius: 3px;
  float: right;
  color: #c60;
  padding: 6px 12px 5px 12px;
  margin-right: 12px;
  height: 20px;

}
.edit-chz-button:hover {
  background-color: #c60;
  color: white;
}
